<h1 id="tableLabel">Edit Client Info</h1>

<p>Here you can edit date of specify Client.</p>

  <form (submit)="submitForm()">
    <div class="form-grup">
        <label for="name">First Name</label>
        <input type="text" name="fname" class="form-control" [(ngModel)]="firstName" placeholder="Enter client first name">
        <label for="name">Last Name</label>
        <input type="text" name="lname" class="form-control" [(ngModel)]="lastName" placeholder="Enter client last name">
        <label for="name">E-mail</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter client e-mail">
        <button type="submit" class="btn btn-primary">ADD</button>
    </div>
  </form>
